$grid-columns: 12;
$maxWidth: 650px;

$box-shadow:  1px 2px 2px 0 rgba(0,0,0,0.1); 

$primary: #131c38;
$secondary: #ECBF2F;

$info: #57c7c2;
$error: #ed3f14;
$hover: #ebf7ff;
$warning: #FBB03B;
$white: #fff;

$gray-1: #4a4a4a;
$gray-2: #6b6b6b;
$gray-3: #989898;
$gray-4: #aaa;

// font-size
$font-title:32px;
$font-subtitle:20px;
$font-normal:16px;
$font-detail:10px;

// Spacing | 間距
// 
$space: 1rem !default;

$spacer: (
  0: 0,
  1: $space * 0.25,
  2: $space * 0.5,
  3: $space,
  4: $space * 1.5,
  5: $space * 2
);